<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK - SAEPULFARIZ</title>
    <link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'DataTables/datatables.min.css') }}" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body class="bg-dark text-light">
    {% include "template/topbar.html" %}
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'DataTables/datatables.min.js') }}"></script>

    {% block script %} {% endblock %}
</body>

</html>